<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <label>
    <!-- <input [(ngModel)]="matchId" placeholder="Match Id">
    <br> -->
    <p>Press the button below to get the heroes of a random match.<br>
    And guess which team won.</p>
    <button (click)="getMatchData()">Get random match</button>
    <p>Sometimes the API can't find the random match so it will not update.<br>
      If that is the case please press the button above until it works.</p>
  </label>
  <h3>Points: {{punten}}</h3>
  <div *ngIf='result'>
    <h3>Match {{result.match_id}} details:</h3>
    
    <!-- <h4>{{result.picks_bans[0].hero_id}}</h4> -->
    <!-- <h3>{{heroes.heroes[result.picks_bans[0].hero_id].localized_name}}</h3> -->
    <h1>Radiant</h1>
    <ul>
      <div *ngFor="let i of heroesRadiant">
        <li>{{i}}</li>
      </div>
    </ul>
    <h1>Dire</h1>
    <ul>
      <div *ngFor="let i of heroesDire">
        <li>{{i}}</li>
      </div>
    </ul>
    <button (click)="radiantWin()">Radiant</button>
    <button (click)="direWin()">Dire</button>
    
    
    <div *ngIf='victory'>
        <h1>{{victory}}</h1>
    </div>
  </div>

</body>

</html>